<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liefery.android.signature_view">

    <application >
        <activity
                android:name="com.liefery.android.signature_view.SignatureActivity"
                android:label="SignatureActivity"
                android:screenOrientation="landscape"/>
    </application>

</manifest>